* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    text-decoration: none;
    list-style: none;
    color: black;
}

html {
    scroll-behavior: smooth;
}

.nav-container {
    width: 100%;
    max-width: 1100px;
    margin: 40px auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.nav-ul {
    display: flex;
    gap: 45px;
    color: dimgray;
}

.nav-ul li a {
    letter-spacing: 3px;
    list-style: none;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 100;
    cursor: pointer;
}

.hrr hr {
    width: 1100px;
    height: 2px;
    background-color: #ededee;
    border: none;
    margin: 80px auto;
}

.touch h1 {
    letter-spacing: 1.5px;
    font-family: "Playfair Display", serif;
    color: #403f4b;
    margin-left: 400px;
    font-size: 40px;
    font-weight: 550;
    margin-top: -45px;
}

.touch-title p {
    line-height: 2;
    color: #323439;
    margin-left: 850px;
    font-size: 16px;
    margin-top: -45px;
}

.touch-title-a {
    margin-left: 850px;
    margin-top: 20px;

}

.touch-title-a a {
    font-size: 27px;
}

.touch-title-a a i {
    color: #323439;
    font-size: 27px;
}

.hrrr hr {
    width: 1100px;
    height: 2px;
    background-color: #ededee;
    border: none;
    margin: 45px auto;
}

.contact h1 {
    letter-spacing: 1.5px;
    font-family: "Playfair Display", serif;
    color: #403f4b;
    margin-left: 400px;
    font-size: 40px;
    font-weight: 550;
    margin-top: -15px;
}

form {
    max-width: 500px;
    margin: 40px auto;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    margin-left: 900px;
    margin-top: -50px;
}

label {
    margin-top: 20px;
    font-weight: bold;
    font-size: 14px;
    color: #656474;
    margin-bottom: 10px;
}

input {
    width: 615px;
    height: 50px;
}

input,
textarea {
    resize: vertical;
    padding: 12px;
    background-color: #e6e6e6;
    border: none;
    font-size: 13px;
    outline: none;
}

textarea {
    height: 140px;
    width: 615px;
    min-height: 100px;
    max-height: 400px;
    margin-bottom: 40px;
}


input:focus,
textarea:focus {
    border: 2px dashed #000;
}

input:focus,
textarea:focus {
    border-color: #333;
}

.send-btn {
    width: 200px;
    height: 50px;
    background-color: #2c2b33;
    color: #fff;
    padding: 12px 24px;
    border: 1px solid #2c2b33;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.3s ease;
}


.send-btn:hover {
    background-color: transparent;
    color: #2c2b33;
}

.footer {
    background-color: #2c2b33;
    padding: 30px 0;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-left {
    display: flex;
    align-items: center;
    gap: 40px;
}

.footer-logo {
    height: 30px;
}

.footer-nav {
    list-style: none;
    display: flex;
    gap: 30px;
}

.footer-nav li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    letter-spacing: 1px;
}

.footer-nav li a:hover {
    color:
        #58a385;
}

.footer-right a i {
    color: #fff;
    font-size: 28px;
    transition: color 0.3s ease;
}

.footer-right a:hover {
    color: #ffb703;

}